@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300%);
  }
}

.tech-icon-movement {
  display: inline-flex;
  animation: moveLeft 5s linear infinite;
}
